<a href="https://colab.research.google.com/github/chayakonchanlun/data_viz_2022/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมตาราง

In [1]:
import pandas as pd #ส่วนของการ Import
import os

In [2]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/ProjectFinal'   #pathจะชี้ไปยังโฟล์เดอร์

Mounted at /content/drive

##ตาราง Covid-19

In [3]:
data_file_path = os.path.join(path,'confirmed-cases.csv') #แล้วก็ชี้ไปที่ไฟล์
covid1 = pd.read_csv(data_file_path)
covid1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [4]:
covid2 = pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [5]:
covid3 = pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
covid3 = covid3.drop('Unnamed: 11', axis=1)
covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [6]:
covid4 = pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

##รวมตาราง Covid-19

In [7]:
merge_covid = pd.concat([covid1,covid2,covid3,covid4])
merge_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

###เลือกข้อมูลที่ต้องการ

In [8]:
data_covid = merge_covid[['No.','announce_date','sex','age','Unit','province_of_onset','risk']]
data_covid

,No.,announce_date,sex,age,Unit,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433549,3303166,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433550,3303167,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433551,3303168,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433552,3303169,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

In [9]:
clean_covid = data_covid.rename(columns = {'province_of_onset':'จังหวัดที่ติดเชื้อ'}) #ใช้คำสั่ง rename เปลี่ยน province_of_onset เป็น จังหวัดที่ติดเชื่อ
clean_covid

,No.,announce_date,sex,age,Unit,จังหวัดที่ติดเชื้อ,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433549,3303166,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433550,3303167,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433551,3303168,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433552,3303169,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [10]:
clean_covid.isnull().any()

No.                   False
announce_date         False
sex                    True
age                    True
Unit                   True
จังหวัดที่ติดเชื้อ     True
risk                   True
dtype: bool

###แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [11]:
data_covid_updated = clean_covid.fillna(value={'sex':'ไม่รู้', 'age':-99, 'Unit':'ปี', 'risk':'ไม่รู้', 'จังหวัดที่ติดเชื้อ':'ไม่รู้'})
data_covid_updated

,No.,announce_date,sex,age,Unit,จังหวัดที่ติดเชื้อ,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,-99,ปี,ไม่รู้,ทัณฑสถาน/เรือนจำ
433549,3303166,18/3/2022,หญิง,-99,ปี,ไม่รู้,ทัณฑสถาน/เรือนจำ
433550,3303167,18/3/2022,หญิง,-99,ปี,ไม่รู้,ทัณฑสถาน/เรือนจำ
433551,3303168,18/3/2022,หญิง,-99,ปี,ไม่รู้,ทัณฑสถาน/เรือนจำ
433552,3303169,18/3/2022,หญิง,-99,ปี,ไม่รู้,ทัณฑสถาน/เรือนจำ

###ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [12]:
data_covid_updated.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_covid หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                   False
announce_date         False
sex                   False
age                   False
Unit                  False
จังหวัดที่ติดเชื้อ    False
risk                  False
dtype: bool

##ตารางภูมิภาคของประเทศไทย

In [13]:
data_list_region = { 'จังหวัดที่ติดเชื้อ':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

In [14]:
data_region = pd.DataFrame.from_dict(data_list_region)   #กำหนดตัวแปร data_region เป็นข้อมูลภูมิภาคของประเทศไทย
data_region   #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัดที่ติดเชื้อ,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [15]:
covid_region = data_covid_updated.merge(data_region)
covid_region

,No.,announce_date,sex,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...
2920327,3292162,18/3/2022,ชาย,53.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920328,3292163,18/3/2022,หญิง,34.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920329,3292164,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920330,3292165,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2920331,3292166,18/3/2022,หญิง,16.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

###ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [16]:
covid_region.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง covid_region หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                          False
announce_date                False
sex                          False
age                          False
Unit                         False
จังหวัดที่ติดเชื้อ           False
risk                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

##ตารางจำนวนประชากรในประเทศไทย แยกตามพื้นที่

In [17]:
stat_63 = pd.read_excel(os.path.join(path,'stat_c63.xlsx'))
stat_63

,ปีเดือน,รหัสจังหวัด,ชื่อจังหวัด,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,6312,0,ทั่วประเทศ,32375532,33811195,66186727,27224743
1,6312,10,กรุงเทพมหานคร,2625938,2962284,5588222,3103483
2,6312,11,สมุทรปราการ,644516,706963,1351479,711804
3,6312,12,นนทบุรี,594308,682437,1276745,718799
4,6312,13,ปทุมธานี,557752,618660,1176412,642474
...,...,...,...,...,...,...,...
73,6312,92,ตรัง,313368,327206,640574,234863
74,6312,93,พัทลุง,254908,268169,523077,197086
75,6312,94,ปัตตานี,358611,367404,726015,195224
76,6312,95,ยะลา,267919,270683,538602,170091
77,6312,96,นราธิวาส,397700,406729,804429,219403

In [18]:
clean_stat = stat_63.rename(columns = {'ชื่อจังหวัด':'จังหวัดที่ติดเชื้อ'}) #ใช้คำสั่ง rename เปลี่ยน ชื่อจังหวัด เป็น จังหวัดที่ติดเชื่อ
clean_stat

,ปีเดือน,รหัสจังหวัด,จังหวัดที่ติดเชื้อ,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,6312,0,ทั่วประเทศ,32375532,33811195,66186727,27224743
1,6312,10,กรุงเทพมหานคร,2625938,2962284,5588222,3103483
2,6312,11,สมุทรปราการ,644516,706963,1351479,711804
3,6312,12,นนทบุรี,594308,682437,1276745,718799
4,6312,13,ปทุมธานี,557752,618660,1176412,642474
...,...,...,...,...,...,...,...
73,6312,92,ตรัง,313368,327206,640574,234863
74,6312,93,พัทลุง,254908,268169,523077,197086
75,6312,94,ปัตตานี,358611,367404,726015,195224
76,6312,95,ยะลา,267919,270683,538602,170091
77,6312,96,นราธิวาส,397700,406729,804429,219403

###เลือกข้อมูลที่ต้องการ

In [19]:
data_stat = clean_stat[['จังหวัดที่ติดเชื้อ','จำนวนประชากรชาย','จำนวนประชากรหญิง','จำนวนประชากรทั้งหมด','จำนวนบ้าน (หลังคาเรือน)']]
data_stat

,จังหวัดที่ติดเชื้อ,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,ทั่วประเทศ,32375532,33811195,66186727,27224743
1,กรุงเทพมหานคร,2625938,2962284,5588222,3103483
2,สมุทรปราการ,644516,706963,1351479,711804
3,นนทบุรี,594308,682437,1276745,718799
4,ปทุมธานี,557752,618660,1176412,642474
...,...,...,...,...,...
73,ตรัง,313368,327206,640574,234863
74,พัทลุง,254908,268169,523077,197086
75,ปัตตานี,358611,367404,726015,195224
76,ยะลา,267919,270683,538602,170091
77,นราธิวาส,397700,406729,804429,219403

###ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [20]:
data_stat.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_stat หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

จังหวัดที่ติดเชื้อ         False
จำนวนประชากรชาย            False
จำนวนประชากรหญิง           False
จำนวนประชากรทั้งหมด        False
จำนวนบ้าน (หลังคาเรือน)    False
dtype: bool

#รวมข้อมูลทั้ง 3 ตาราง

In [21]:
data_total = pd.merge(covid_region,data_stat,on='จังหวัดที่ติดเชื้อ')
data_total

,No.,announce_date,sex,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920327,3292162,18/3/2022,ชาย,53.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,211673,210369,422042,137871
2920328,3292163,18/3/2022,หญิง,34.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,211673,210369,422042,137871
2920329,3292164,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,211673,210369,422042,137871
2920330,3292165,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,211673,210369,422042,137871
2920331,3292166,18/3/2022,หญิง,16.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,211673,210369,422042,137871

###ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [22]:
data_total.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_total หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                          False
announce_date                False
sex                          False
age                          False
Unit                         False
จังหวัดที่ติดเชื้อ           False
risk                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
จำนวนประชากรชาย              False
จำนวนประชากรหญิง             False
จำนวนประชากรทั้งหมด          False
จำนวนบ้าน (หลังคาเรือน)      False
dtype: bool

#ทำ Dashboard โดยจะทำการศึกษาในปี 2021

In [23]:
Final = data_total[data_total.announce_date.str.contains('2020')] #เลือกเฉพาะข้อมูลในปี 2020
Final

,No.,announce_date,sex,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,2625938,2962284,5588222,3103483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859403,5922,26/12/2020,หญิง,47.0,ปี,ชัยนาท,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,155013,167464,322477,126673
2864136,5809,24/12/2020,หญิง,44.0,ปี,อ่างทอง,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,132393,144191,276584,101291
2864137,6689,30/12/2020,ชาย,35.0,ปี,อ่างทอง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กลาง,กลาง,กลาง,กลาง,132393,144191,276584,101291
2880862,6288,29/12/2020,ชาย,55.0,ปี,ตราด,Cluster สมุทรสาคร,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,113131,115405,228536,108270
2893344,6467,30/12/2020,ชาย,57.0,ปี,ระนอง,Cluster สมุทรสาคร,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,98154,96218,194372,92739

In [37]:
Final_male=Final[Final['sex']=='ชาย']

In [38]:
Final_female=Final[Final['sex']=='หญิง']

In [43]:
UnKnow=Final[Final['sex']=='ไม่รู้']

In [39]:
count_male =Final_male.groupby(['sex']).count().reset_index()  
count_male

,sex,No.,announce_date,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,ชาย,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753

In [40]:
count_female =Final_female.groupby(['sex']).count().reset_index()  
count_female

,sex,No.,announce_date,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,หญิง,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416

In [44]:
count_UnKnow =UnKnow.groupby(['sex']).count().reset_index()  
count_UnKnow

,sex,No.,announce_date,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,ไม่รู้,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352

In [29]:
Final1 =Final.groupby(['sex']).count().reset_index()  ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตาม จังหวัดที่ติดเชื้อ.
Final1

,sex,No.,announce_date,age,Unit,จังหวัดที่ติดเชื้อ,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,ชาย,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753,2753
1,หญิง,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416,2416
2,ไม่รู้,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352,1352

###ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [24]:
Final.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง Final หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                          False
announce_date                False
sex                          False
age                          False
Unit                         False
จังหวัดที่ติดเชื้อ           False
risk                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
จำนวนประชากรชาย              False
จำนวนประชากรหญิง             False
จำนวนประชากรทั้งหมด          False
จำนวนบ้าน (หลังคาเรือน)      False
dtype: bool

In [32]:
Final.to_csv('Final.csv', encoding='utf-8')

In [34]:
Final1.to_csv('Final1.csv', encoding='utf-8')

In [41]:
count_male.to_csv('count_male.csv', encoding='utf-8')

In [42]:
count_female.to_csv('count_female.csv', encoding='utf-8')

In [45]:
count_UnKnow.to_csv('count_UnKnow.csv', encoding='utf-8')